* {
  background-color: transparent !important;
  color-scheme: dark !important;
}

html, body, #root {
  background-color: #0f1220 !important;
  color: rgba(255, 255, 255, 0.87) !important;
}

#root {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: left;
  background-color: #0f1220 !important;
}

body {
  background: #0f1220 !important;
  background-color: #0f1220 !important;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

@media (prefers-color-scheme: light) {
  * {
    background-color: transparent !important;
    color-scheme: dark !important;
  }
  
  html, body, #root {
    background-color: #0f1220 !important;
    color: rgba(255, 255, 255, 0.87) !important;
  }
}
